{% extends 'blog/base.html' %}
{% load static %}

<!--css links-->
{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'produtos/index.css' %}">
{% endblock %}

<!-- head title-->
{% block head_title %}Produtos - Fazentech{% endblock %}

<!--body-->
{% block content %}

<!--boas vindas-->
<header class="main-header">
	<div class="container">
		<h1 class="header-phrase">produtos</h1>
	</div>
</header>	

<!-- formulario adicionar-->
<div class="container">
	<a href="{% url 'produtos:adicionar' %}" class="open-add-form">
		adicionar
	</a>
</div>

<!--pesquisar pro produtos-->
<div class="container">
    <input type="text" id="user-input" placeholder="pesquisar">
</div>

<!-- lista de produtos  -->
<div class="container" id="replaceable-content">
    {% include 'produtos/resultado_produtos.html' %}
</div>


<!--fim body-->
{% endblock %}

