* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

body {
    background-color: #FFEEE7;
}

.container {
    margin: 0 auto;
    width: 380px;
}

/*menu navegacao*/
.main-nav {
    background-color:#6F3B48;
    border-bottom: 2.5px solid #522632;
    margin-bottom: 50px;
}

.main-ul {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.main-item {
    flex: 1;
    text-align: center;
}

.main-link {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    color: #E5CCC8;
    letter-spacing: 5px;
    font-size: 20px;    
}


/*boas vindas*/
.main-header {
    text-align: center;
    margin-bottom: 50px;
}

.header-phrase {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    color: #522632;
    font-size: 26px;
    letter-spacing: 3px;
    margin: 0;
}

/*produtos*/



