{% load static %}

<DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}">
		<title>{% block head_title %}Fazentech{% endblock %}</title>
	</head>

	<body>
		<nav style="margin-bottom: 50px;">
			<ul>
				<li>
					<a href="{% url 'blog:index' %}">fazentech</a>
				</li>

				<li>
					<a href="{% url 'produtos:index' %}">produtos</a>
				</li>
			</ul>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>